#tabs {
	float:left;
	width:100%;
/*	background:#DAE0D2 url("../images/style/css/bg.gif") repeat-x bottom; */
	line-height:normal;
	margin-left: 40px;
}

#tabs ul {
	margin:0;
	padding:10px 10px 0 0;
	list-style:none;
	float: left;
}

#tabs li {
	float:left;
	background:url("../images/style/css/left.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}

#tabs a {
	float:left;
	display:block;
	background:url("../images/style/css/right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	font-weight:bold;
	color: #A22844;
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 1.2em;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#tabs a {float:none;}
/* End IE5-Mac hack */

#tabs a:hover {
	color:#333;
}

#tabs a img {
	float: left;
	border: none;
	padding: 1px 5px 0 0;
	margin: 0;
}

#tabs #current {
	background-image:url("../images/style/css/left_on.gif");
}

#tabs #current a {
	background-image:url("../images/style/css/right_on.gif");
	color:#333;
	padding-bottom:5px;
	font-style: normal;
}
